*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #183446;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.information {
  width: 100%;
  height: 100vh;
  background-color: #38AECC;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  color: white;
} 
